#taskModal {
  padding: 30px 20px;
  min-width: 400px;
  min-height: 300px;

  .modal-title {
    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 10px;
  }
}
